<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iverson.learn.security.mapper.UserMapper">
    
    <resultMap id="UserResultMap" type="com.iverson.learn.security.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username" />
        <result property="password" column="password" />
        <collection property="roles" ofType="com.iverson.learn.security.entity.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>
    
    <select id="loadByUsername" resultMap="UserResultMap">
        SELECT t1.*, t3.id rid, t3.name rname, t3.nameZh rnameZh FROM user t1
        LEFT JOIN user_role t2 ON t1.id = t2.uid
        LEFT JOIN role t3 ON t2.rid = t3.id
        WHERE username = #{username}
    </select>

</mapper>